@import url(http://fonts.googleapis.com/css?family=Raleway:100,200,300,400);
@font-face {
  font-family: 'Existence-Light';
  src: url("fonts/Existence-Light.otf");
}

@font-face {
  font-family: 'CaviarDreams';
  src: url("fonts/CaviarDreams.ttf");
}

@font-face {
  font-family: 'Metropolis1920';
  src: url("fonts/Metropolis1920.otf");
}

@font-face {
  font-family: 'SS_Adec2.0_main';
  src: url("fonts/SS_Adec2.0_main.otf");
}

@font-face {
  font-family: 'SS_Adec2.0_initials';
  src: url("fonts/SS_Adec2.0_initials.otf");
}

@font-face {
  font-family: 'SS_Adec2.0_text';
  src: url("fonts/SS_Adec2.0_text.otf");
}

@font-face {
  font-family: 'BonvenoCFLight';
  src: url("fonts/BonvenoCF-Light-webfont.eot");
  src: url("fonts/BonvenoCF-Light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/BonvenoCF-Light-webfont.woff") format("woff"), url("fonts/BonvenoCF-Light-webfont.ttf") format("truetype"), url("fonts/BonvenoCF-Light-webfont.svg#BonvenoCFLight") format("svg");
}

/* line 174, ../../app/assets/stylesheets/styles.css.scss */
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 183, ../../app/assets/stylesheets/styles.css.scss */
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

/* line 191, ../../app/assets/stylesheets/styles.css.scss */
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: top, left, opacity;
  transition-property: transform, opacity;
}

/* line 199, ../../app/assets/stylesheets/styles.css.scss */
ul {
  list-style: none;
}

/* line 212, ../../app/assets/stylesheets/styles.css.scss */
body {
  background: black;
  margin: 0;
  border: 0;
}

/* line 218, ../../app/assets/stylesheets/styles.css.scss */
.wrapper {
  background-color: black;
  overflow-x: hidden;
}

/* line 242, ../../app/assets/stylesheets/styles.css.scss */
.col1 {
  background-color: #90d8ee;
  border: 1px solid red;
  z-index: 100;
  opacity: .5;
  background: linear-gradient(324deg, #006080 4%, transparent 4%) -70px 43px, linear-gradient(36deg, #006080 4%, transparent 4%) 30px 43px, linear-gradient(72deg, #582423 8.5%, transparent 8.5%) 30px 43px, linear-gradient(288deg, #582423 8.5%, transparent 8.5%) -70px 43px, linear-gradient(216deg, #582423 7.5%, transparent 7.5%) -70px 23px, linear-gradient(144deg, #582423 7.5%, transparent 7.5%) 30px 23px, linear-gradient(324deg, #006080 4%, transparent 4%) -20px 93px, linear-gradient(36deg, #006080 4%, transparent 4%) 80px 93px, linear-gradient(72deg, #582423 8.5%, transparent 8.5%) 80px 93px, linear-gradient(288deg, #582423 8.5%, transparent 8.5%) -20px 93px, linear-gradient(216deg, #582423 7.5%, transparent 7.5%) -20px 73px, linear-gradient(144deg, #582423 7.5%, transparent 7.5%) 80px 73px;
  background-size: 100px 100px;
  background-color: #006080;
  box-shadow: inset -90px 0px 80px black, inset 0px -80px 80px black;
}
/* line 273, ../../app/assets/stylesheets/styles.css.scss */
.col1 .logoMain {
  margin: 4px;
}
/* line 276, ../../app/assets/stylesheets/styles.css.scss */
.col1 .logoMain img {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: auto;
  margin-left: auto;
}

/* line 298, ../../app/assets/stylesheets/styles.css.scss */
.col2 {
  border: 1px solid blue;
  overflow: hidden;
  padding-bottom: 200px;
}
/* line 308, ../../app/assets/stylesheets/styles.css.scss */
.col2 .navbar {
  padding: 0;
}
/* line 314, ../../app/assets/stylesheets/styles.css.scss */
.col2 .navbar li a {
  letter-spacing: 0.06em;
  color: #90d8ee;
  display: block;
  font-family: "SS_Adec2.0_main", sans-serif;
  font-weight: 100;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  text-shadow: -10px -10px 15px black;
}

/* line 351, ../../app/assets/stylesheets/styles.css.scss */
iframe.twitter-tweet {
  max-width: 60% !important;
  min-width: 400px !important;
}

/* line 357, ../../app/assets/stylesheets/styles.css.scss */
#body_content_title {
  font-size: 3em;
  display: none;
}

/* line 362, ../../app/assets/stylesheets/styles.css.scss */
h1, h1 a {
  color: #eee;
  text-decoration: none;
  font-family: "SS_Adec2.0_main";
  font-size: 1.2em;
  font-weight: normal;
  letter-spacing: .2em;
}

/* line 371, ../../app/assets/stylesheets/styles.css.scss */
h2, p {
  color: white;
}

/* line 376, ../../app/assets/stylesheets/styles.css.scss */
.col3 {
  border: 1px solid green;
  height: auto;
  height: 100%;
}
/* line 386, ../../app/assets/stylesheets/styles.css.scss */
.col3 .homeWrapper .bgHome img {
  margin-left: 20%;
  width: 70%;
  height: auto;
  opacity: .3;
  position: absolute;
  z-index: 0;
}
/* line 399, ../../app/assets/stylesheets/styles.css.scss */
.col3 .radioWrapper .bgRadio img {
  margin-left: 16%;
  width: 55%;
  height: auto;
  opacity: .7;
  overflow-x: hidden;
  position: absolute;
}

/* line 464, ../../app/assets/stylesheets/styles.css.scss */
.blogWrapper {
  position: relative;
}

/* line 469, ../../app/assets/stylesheets/styles.css.scss */
#twitter-widget {
  background-color: red !important;
}
