/* line 350, ../../app/assets/stylesheets/styles.css.scss */
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 359, ../../app/assets/stylesheets/styles.css.scss */
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

/* line 367, ../../app/assets/stylesheets/styles.css.scss */
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: top, left, opacity;
  transition-property: transform, opacity;
}

/* line 375, ../../app/assets/stylesheets/styles.css.scss */
ul {
  list-style: none;
}

/* line 388, ../../app/assets/stylesheets/styles.css.scss */
body {
  background: black;
}

/* line 392, ../../app/assets/stylesheets/styles.css.scss */
.wrapper {
  background-color: black;
  overflow-x: hidden;
}

/* line 397, ../../app/assets/stylesheets/styles.css.scss */
.row {
  width: 100%;
}

/* line 402, ../../app/assets/stylesheets/styles.css.scss */
blockquote {
  margin: 10px;
}

/* line 406, ../../app/assets/stylesheets/styles.css.scss */
h1 {
  font-size: 2em;
  text-align: center;
  color: #BFE9E9;
  text-transform: uppercase;
  display: block;
  text-shadow: #253e45 1px 1px 0;
  margin: 5% auto 5%;
  font-weight: 100;
  text-align: center;
  line-height: 1.3em;
}
/* line 422, ../../app/assets/stylesheets/styles.css.scss */
h1 a.navText {
  color: #BFE9E9;
}

/* line 427, ../../app/assets/stylesheets/styles.css.scss */
h1.navText a:focus, a:hover {
  display: block;
  color: white;
  text-shadow: none;
  margin-left: 6px;
  margin-top: 10px;
}

/* line 436, ../../app/assets/stylesheets/styles.css.scss */
.col1 {
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #222222 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #222222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
  width: 17%;
  height: 800px;
  float: left;
  z-index: 100;
  box-shadow: inset -50px 0px 150px #131313;
}
/* line 454, ../../app/assets/stylesheets/styles.css.scss */
.col1 .logoMain {
  margin: 4px;
}
/* line 457, ../../app/assets/stylesheets/styles.css.scss */
.col1 .logoMain img {
  margin-top: 20px;
  width: 100%;
  height: auto;
}

/* line 467, ../../app/assets/stylesheets/styles.css.scss */
.col2 {
  background-color: #be4d4b;
  float: left;
  width: 20%;
  overflow: hidden;
  padding-bottom: 20px;
  margin-bottom: 50px;
}
/* line 475, ../../app/assets/stylesheets/styles.css.scss */
.col2 .navbar {
  border-bottom: 1px solid #bfe9e9;
}
/* line 478, ../../app/assets/stylesheets/styles.css.scss */
.col2 .navbar li {
  margin-top: 20px;
}

/* line 488, ../../app/assets/stylesheets/styles.css.scss */
.tweet_list {
  margin-top: 100px;
  width: 100%;
}
/* line 492, ../../app/assets/stylesheets/styles.css.scss */
.tweet_list li {
  padding: 16px;
}
/* line 495, ../../app/assets/stylesheets/styles.css.scss */
.tweet_list li .tweet_time {
  float: left;
  clear: both;
}
/* line 499, ../../app/assets/stylesheets/styles.css.scss */
.tweet_list li .tweet_time a {
  color: black;
  font-weight: 700;
  font-size: .62em;
}
/* line 506, ../../app/assets/stylesheets/styles.css.scss */
.tweet_list li .tweet_text {
  float: left;
  color: white;
  font-size: .69em;
  line-height: 16px;
  letter-spacing: .05em;
  font-weight: 100;
}
/* line 514, ../../app/assets/stylesheets/styles.css.scss */
.tweet_list li .tweet_text a {
  font-weight: bold;
}

/* line 522, ../../app/assets/stylesheets/styles.css.scss */
.stream {
  display: none;
}

/* line 526, ../../app/assets/stylesheets/styles.css.scss */
.col3 {
  height: auto;
  float: left;
  width: 55%;
  height: 100%;
}
/* line 532, ../../app/assets/stylesheets/styles.css.scss */
.col3 img {
  margin-left: 50%;
  width: 100%;
  height: auto;
  opacity: .3;
}
