<!-- Column 3 Home/Blog showing all entries -->
<div class="col3">
	<div class="homeWrapper">
		<div class="bgHome">
  		<%= image_tag("bgHome.jpg", :alt => "bgHome") %>
  	</div>
<!--   	<div id="ticker">
  		
  	</div> -->
	</div>
</div>

