<!-- Column 3 Home/Blog showing all entries -->
<div class="col3">
  <div class="radioWrapper">
  	<div class="bgRadio">
  		<%= image_tag("bgMixes1.jpg", :alt => "backgroundMixes") %>
  	</div>
  </div>
</div>
