//                 ,,        ,,             
// MMP""MM""YMM   *MM      `7MM             
// P'   MM   `7    MM        MM             
//      MM  ,6"Yb. MM,dMMb.  MM  .gP"Ya     
//      MM 8)   MM MM    `Mb MM ,M'   Yb    
//      MM  ,pm9MM MM     M8 MM 8M""""""    
//      MM 8M   MM MM.   ,M9 MM YM.    ,    
//    .JMML`Moo9^YoP^YbmdP'.JMML.`Mbmmd' 
//                                                                     
//              ,...    
//            .d' ""    
//            dM`       
//   ,pW"Wq. mMMmm      
//  6W'   `Wb MM        
//  8M     M8 MM        
//  YA.   ,A9 MM        
//   `Ybmd9'.JMML.
//
//                                                                                            
//    .g8"""bgd                  mm                     mm          
//  .dP'     `M                  MM                     MM          
//  dM'       `,pW"Wq.`7MMpMMMbmmMMmm .gP"Ya `7MMpMMMbmmMMmm ,pP"Ybd
//  MM        6W'   `Wb MM    MM MM  ,M'   Yb  MM    MM MM   8I   `"
//  MM.       8M     M8 MM    MM MM  8M""""""  MM    MM MM   `YMMMa.
//  `Mb.     ,YA.   ,A9 MM    MM MM  YM.    ,  MM    MM MM   L.   I8
//    `"bmmmd' `Ybmd9'.JMML  JMML`Mbmo`Mbmmd'.JMML  JMML`MbmoM9mmmP'
//
//
// 3. Foundation Defaults
// 1. Colors
// 2. Fonts
// 
// 4. Isotope Defaults
// 5. Custom, very funky, styles

//Font imports

@font-face {
  font-family: 'Code-Pro-Light-Demo';
  src: url('fonts/25FD00_0_0.eot');
  src: url('fonts/25FD00_0_0.eot?#iefix') 
  format('embedded-opentype'),
  url('fonts/25FD00_0_0.woff') 
  format('woff'),
  url('fonts/25FD00_0_0.ttf') 
  format('truetype');
}

/* Zurb Foundation icon font (social only) */
@font-face {
  font-family: "SocialFoundicons";
  src: url("fonts/social_foundicons.eot");
  src: url("fonts/social_foundicons.eot?#iefix") 
  format("embedded-opentype"), 
  url("fonts/social_foundicons.woff") 
  format("woff"), url("fonts/social_foundicons.ttf") 
  format("truetype"), 
  url("fonts/social_foundicons.svg#SocialFoundicons") 
  format("svg");
  font-weight: normal;
  font-style: normal;
}

/* global foundicon styles */
[class*="foundicon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;

}

[class*="foundicon-"]:before {
  font-family: "SocialFoundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

/* icons */
.foundicon-thumb-up:before {
  content: "\f000";
}

.foundicon-thumb-down:before {
  content: "\f001";
}

.foundicon-rss:before {
  content: "\f002";
}

.foundicon-facebook:before {
  content: "\f003";
}

.foundicon-twitter:before {
  content: "\f004";
}

.foundicon-pinterest:before {
  content: "\f005";
}

.foundicon-github:before {
  content: "\f006";
}

.foundicon-path:before {
  content: "\f007";
}

.foundicon-linkedin:before {
  content: "\f008";
}

.foundicon-dribbble:before {
  content: "\f009";
}

.foundicon-stumble-upon:before {
  content: "\f00a";
}

.foundicon-behance:before {
  content: "\f00b";
}

.foundicon-reddit:before {
  content: "\f00c";
}

.foundicon-google-plus:before {
  content: "\f00d";
}

.foundicon-youtube:before {
  content: "\f00e";
}

.foundicon-vimeo:before {
  content: "\f00f";
}

.foundicon-flickr:before {
  content: "\f010";
}

.foundicon-slideshare:before {
  content: "\f011";
}

.foundicon-picassa:before {
  content: "\f012";
}

.foundicon-skype:before {
  content: "\f013";
}

.foundicon-steam:before {
  content: "\f014";
}

.foundicon-instagram:before {
  content: "\f015";
}

.foundicon-foursquare:before {
  content: "\f016";
}

.foundicon-delicious:before {
  content: "\f017";
}

.foundicon-chat:before {
  content: "\f018";
}

.foundicon-torso:before {
  content: "\f019";
}

.foundicon-tumblr:before {
  content: "\f01a";
}

.foundicon-video-chat:before {
  content: "\f01b";
}

.foundicon-digg:before {
  content: "\f01c";
}

.foundicon-wordpress:before {
  content: "\f01d";
}

// My Colors
$red: #BE4D4B;
$blue: #00BFFF;
$greenHot: #58F802;
$grey1: #333333;
$bgColor1: #161B1E;
$bgColor2: #1B1519;

// link formatting

a { color: $blue; text-decoration: none; line-height: inherit; }

a:hover { color: #2795b6; }

a:focus { color: #2795b6; }

body {
background-color: black;
}

.container {
  padding-bottom: 25px;
}

// Navbar type 

$fontSmoothing: antialiased;
// $navText: 'SS_Adec2.0_text', sans-serif;
$navText: 'Code-Pro-Light-Demo';
$navTextWeight: normal;
$navTextColor: $red;
$navLetterSpacing: normal;
$navLineHeight: 1em;
$navLetterSpacing: .1em;

.headerCaps {
  //font-family: 'SS_Adec2.0_main';
  font-size: 1.3em;
}

h1 {
  font-weight: normal;
  font-family: 'Code-Pro-Light-Demo', sans-serif;
}

h2 {
  color: $blue;
  font-family: 'Code-Pro-Light-Demo', sans-serif;
  font-weight: normal;
}

p {
  color: #006080;
  font-family: 'Raleway', sans-serif;
  letter-spacing: .02em;
  line-height: 1.6em;
}

ul {
  font-family: 'Raleway', sans-serif;
  padding-left: 20px;
}

// Fixes font display issues on webkit browsers
@media screen and (-webkit-min-device-pixel-ratio:0) {

  h1 a {
    font-weight: 700 !important;
    color: $blue !important;
  }

  h1.eventsHeaderText a {
    color: $red !important;
  }

  h1 {
    font-weight: 700 !important;
  }

  h2 {
    font-weight: 700 !important;
  }

  .privateWrapper {
    h1, h2, h3, p {
      font-weight: 700 !important;
    }
  } 
}

// blog type
$blogH1Color: $red;
$blogH1Font: "Code-Pro-Light-Demo";
$blogH1Weight: normal;
$blogH1size: .48em;
$blogH1lineheight: 1em;
$blogH1LetterSpacing: .07em;
$blogH1HoverColor: $red;
$blogH1fontstyle: normal;
$blogH1padding: 0px;
$blogPfont: 'Raleway', sans-serif;
$bgColorMix: #28141F;
$bgColorVideo: #001922;
$bgHover: #444;

.blog_post {
  max-width: 720px; //perfect width for initial mobile snap
  width: 92%;
  background-color: #1B1519;
  margin: 20px 20px 0px 5px;
  padding: 10px 20px 0px 20px;
  float: left;
  border-top-left-radius: 7px;
  //width: 95%;

  &:hover {
    background-color: $bgHover;
    //width: 700px;
  }

  header {
    margin-bottom: 0px;
    padding-bottom: 5px;
    margin-bottom: 0px;

    h1 a {
      color: $blogH1Color;
      text-decoration: none;
      font-family: $blogH1Font;
      font-weight: $blogH1Weight;
      font-size: $blogH1size;
      letter-spacing: $blogH1LetterSpacing;
      font-style: $blogH1fontstyle;
      padding: $blogH1padding;
      line-height: $blogH1lineheight;
      display: block;
    }

    .details { // posted on..
      font-family: 'Raleway', sans-serif;
      color: #888;
      font-size: .9em;
      padding-top: 7px;
      line-height: 1.2em;

      time {
        margin-bottom: 0px;
        //display: none;
      }

      .filed_in {
        display: none;
      }
    }

    .comment_count {
      margin-top: -17px;
      padding-top: 0;
      padding-bottom: 15px;
      color: #777;
      font-size: 90%;
      float: right;
    }

    .noComments {
      display: none;
    }
  } // end header

  .postContent {

    .sc-download {
      margin-right: 20px;
      text-transform: uppercase;
      float: right;

    }

    p {
      //color: white;
      img {
        padding: 0;
        margin-bottom: -13px;
        background-color: 0;
        width: 100%;
      }
    }
  }

  footer {
    display: block;
    float: left;
    margin-bottom: 0;
    padding-bottom: 0;
    width: 100%;

    .readMore {
      display: none;
    }

    // Tags
    aside.tagged {
      float: left;
      color: #666;
      padding: 5px;
      margin-bottom: 5px;
      width: 100%;

      p.tagText { 
        color: #888;
        font-size: 1.1em;
        width: 90%;
        margin-bottom: 0;
        font-style: normal;
        //font-weight: 100;
        letter-spacing: .08em;
  
        a {
          color: $blue;
          font-style: normal;
          //font-size: 2em;
  
          &:hover {
            color: $red;
          }
        }
      }
    }
  }
}

#show_blog_post {
  padding: 10px 10px 0px 10px;
  margin-top: 20px;
  position: relative;
  display: block;
  //min-height: 600px;

  #blog_post {  
    margin: 0 auto;
    width: 100%;
    color: $red;
    display: block;
    float: left;
    margin-bottom: 50px;

    .sc-player {
      padding-bottom: 45px;
      float: left;


    }

    iframe {
      margin-bottom: 20px;
      width: 100%;
      //min-height: 166px;
    }

    h1 {
      color: $blogH1Color;
      text-decoration: none;
      font-family: $blogH1Font;
      font-weight: $blogH1Weight;
      font-size: 2em;
      letter-spacing: $blogH1LetterSpacing;
      font-style: $blogH1fontstyle;
      line-height: $blogH1lineheight;
      margin: 0;
      padding: 0;
      word-spacing: -.08em !important;
      margin-bottom: 10px;
    }

    .details {
      margin-bottom: 10px;
      color: $blue;
    }

    p {
      color: #eee;
      font-size: 1.3em;
      font-weight: 200;
      //padding: 0 3% 0 3%;
      line-height: 1.3em;
      padding-bottom: 15px;


      img {
        margin: 0;
        padding-bottom: 3%;
        width: 100%;
        margin: 0 auto;
        //max-width: 600px;
      }
    }
  }
}

#next_prev_article {
  display: none;
  //margin-top: 100px;
}

#comments {
  margin-left: 2%;
  max-width: 400px;
  border-top: 10px solid $blue;
  padding: 3%;
  display: block;
  float: left;

  h2 {
    font-family: $blogH1Font;
    font-weight: $blogH1Weight;
    color: $blogH1Color;
    letter-spacing: $blogH1LetterSpacing;
    font-style: $blogH1fontstyle;
    line-height: $blogH1lineheight;
    font-size: 1.3em;
    margin: 10px 0;
  }

  p {
    color: $red;
    margin-left: 0px;
  }

  form {

    input, textarea {
      background-color: #333;
      border: none;
      color: white;
    }

    input[type=submit] {
      padding: 10px;
      cursor: pointer;

      &:hover {
        color: $red;
      }
    }
  }
}

.pagination {
  font-size: 2em;
  line-height: 1.2em;
  position: fixed;
  top: 100px;
  right: 0;
  width: 36px;

  a {
    color: $red;
  }

  .current {
    color: darken( $red, 25% );
    text-decoration: underline;

  }
}

.tagMix {
  border-top: 7px solid $red;
  padding: 10px 0 0 10px;
  background-color: $bgColorMix;
  background-image: url('iconMix2.png');
  background-repeat: no-repeat;
  background-size: 5.5% auto;
  background-position: 98% 95%;

  h1 a {
    color: $blue !important;
  }

  iframe {
    margin-bottom: 5%;
  }
}

.tagPhoto {
  border-top: 7px solid lighten( $blue, 30%);
  background-color: $bgColor1;
  //width: 30%;

  h1 a {
    color: $blue !important;
  }

  p {
    display: block;
    margin-bottom: 25px;

  }

  .details {
    
  }
}

.tagVideo {
  //background-color: $bgColor1;
  background-color: $bgColorVideo;
  border-top: 7px solid darken( $blue, 30%);
  background-image: url('iconVideo.png');
  background-repeat: no-repeat;
  background-size: 5.5% auto;
  background-position: 97% 98%;

  &:hover {
    //background-color: black;
  }

  h1 a {
    color: lighten( $red, 15%) !important;
  }

  .details {
    //display: none;
  }

  p {
    color: #eee;
  }

  iframe {
    width: 100%;
    height: 100%;
    min-height: 330px;
    margin-bottom: 20px;
    //min-height: 300px;
  }
} 

//Twitter Font Settings
$twitterDateFont: 'Raleway', sans-serif;
$twitterDateSize: .8em;
$twitterDateColor: $red;

$twitterBodyFont: 'Raleway', sans-serif;
$twitterBodyColor: $blue;
$twitterBodySize: .8em;

$twitterLinkFont: 'Raleway', sans-serif;
$twitterLinkColor: $red;

// twitter posts
blockquote.twitter-tweet {
  padding-left: 0px !important;
  border-left: none !important;
  border-right: none !important;
}

.twitter-tweet p {
  color: white;
}


// $headerFontFamily: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
// $headerFontWeight: bold;
// $headerFontStyle: normal;
// $headerFontColor: #222;
// $bodyFontFamily: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
// $bodyFontWeight: normal;
// $bodyFontStyle: normal;
// $bodyFontColor: $txtColor;
                         
//   ,,                                                   
//   db                   mm                              
//                        MM                              
// `7MM ,pP"Ybd  ,pW"Wq.mmMMmm ,pW"Wq.`7MMpdMAo.  .gP"Ya  
//   MM 8I   `" 6W'   `Wb MM  6W'   `Wb MM   `Wb ,M'   Yb 
//   MM `YMMMa. 8M     M8 MM  8M     M8 MM    M8 8M"""""" 
//   MM L.   I8 YA.   ,A9 MM  YA.   ,A9 MM   ,AP YM.    , 
// .JMMLM9mmmP'  `Ybmd9'  `Mbmo`Ybmd9'  MMbmmd'   `Mbmmd' 
//                                      MM                
//                                    .JMML.              


// .isotope,
// .isotope .isotope-item {
//   /* change duration value to whatever you like */
//   -webkit-transition-duration: 0.8s;
//      -moz-transition-duration: 0.8s;
//       -ms-transition-duration: 0.8s;
//        -o-transition-duration: 0.8s;
//           transition-duration: 0.8s;
// }

// .isotope {
//   -webkit-transition-property: height;
//      -moz-transition-property: height;
//       -ms-transition-property: height;
//        -o-transition-property: height;
//           transition-property: height;
// }

// .isotope .isotope-item {
//   -webkit-transition-property: -webkit-transform, opacity;
//      -moz-transition-property:    -moz-transform, opacity;
//       -ms-transition-property:     -ms-transform, opacity;
//        -o-transition-property:         top, left, opacity;
//           transition-property:         transform, opacity;
// }

ul {
  list-style: none;
}

//   ,,                                         
// `7MM                                         
//   MM                                         
//   MMpMMMb.  ,pW"Wq.`7MMpMMMb.pMMMb.  .gP"Ya  
//   MM    MM 6W'   `Wb MM    MM    MM ,M'   Yb 
//   MM    MM 8M     M8 MM    MM    MM 8M"""""" 
//   MM    MM YA.   ,A9 MM    MM    MM YM.    , 
// .JMML  JMML.`Ybmd9'.JMML  JMML  JMML.`Mbmmd' 

body {
  background: black;
  margin: 0;
  border: 0;
  margin: 0 auto;
}

.wrapper {
  background-color: black;
  //padding-right: 20px;
  //overflow-x: hidden;
}

.row.siteWrapper {
  width: 100%;
  padding-right: 0;
  margin: 0;
}


// .row {
//   max-width: 1300px;
// }
    
//                              ,,        ,,                  
//                              db      `7MM                  
//                                        MM                  
//  ,pW"Wq.`7M'   `MF`7Mb,od8 `7MM   ,M""bMM  .gP"Ya  ,pP"Ybd 
// 6W'   `Wb VA   ,V   MM' "'   MM ,AP    MM ,M'   Yb 8I   `" 
// 8M     M8  VA ,V    MM       MM 8MI    MM 8M"""""" `YMMMa. 
// YA.   ,A9   VVV     MM       MM `Mb    MM YM.    , L.   I8 
//  `Ybmd9'     W    .JMML.   .JMML.`Wbmd"MML.`Mbmmd' M9mmmP' 

// BACKGROUNDS

.bgImagesWrapper {

  img {
    display: block;
    float: left;
  }
}

img.bgHome {
  //position: fixed;
  margin-left: -5%;
  margin-top: 20%;
  width: 44%;
  height: auto;
  opacity: .7;
  float: left;
  z-index: -110;
}

img.bgHome2 {
  position: absolute;
  margin-left: 10%;
  margin-top: 25%;
  width: 44%;
  height: auto;
  opacity: .7;
  float: left;
  z-index: -100;
}

img.bgHome3 {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 40px;
  margin-top: 24%;
  width: 35%;
  height: auto;
  opacity: .7;
  float: left;
  z-index: -110;
}

img.bgHome4 {
  display: none;
  position: absolute;
  margin-left: 20px;
  margin-top: 60%;
  width: 42%;
  height: auto;
  opacity: .7;
  float: left;
  z-index: -110;
}

//                    ,,            
//                  `7MM            
//                    MM       __,  
//  ,p6"bo   ,pW"Wq.  MM      `7MM  
// 6M'  OO  6W'   `Wb MM        MM  
// 8M       8M     M8 MM        MM  
// YM.    , YA.   ,A9 MM        MM  
//  YMbmd'   `Ybmd9'.JMML.    .JMML.

.col1 {
  z-index: 100;
  //position: fixed;

  .logoImg {
    opacity: 1;
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: auto;
    margin-left: auto;
  }
}

//                                      mm           
//                                      MM           
//  .gP"Ya `7M'   `MF'.gP"Ya `7MMpMMMbmmMMmm ,pP"Ybd 
// ,M'   Yb  VA   ,V ,M'   Yb  MM    MM MM   8I   `" 
// 8M""""""   VA ,V  8M""""""  MM    MM MM   `YMMMa. 
// YM.    ,    VVV   YM.    ,  MM    MM MM   L.   I8 
//  `Mbmmd'     W     `Mbmmd'.JMML  JMML`MbmoM9mmmP'

.colEvents {
  margin-top: 79%;
  float: left;
  width: 170%;
  min-width: 320px;
  padding-left: 70px;

  .eventsHeader {
    text-align: left;
    margin-bottom: 0px;
    //background-color: #555;
    padding: 0;
    max-width: 300px;
    padding-left: 10px;

    
    .eventsHeaderText a { //h1
      //border-top: 5px solid white;
      height: 50px;
      padding-top: 7px;
      margin-top: 10px;
      color: $blue !important;
      display: block;
      font-weight: normal;
      font-family: $navText;
      font-size: .5em;
      //text-shadow: 3px 0px $red;
    }
  }

  .eventsBox {
    margin-top: 0px;
    line-height: 1em;

    ul {
      line-height: 1em;
    }

    h2 a {
      font-size: .55em;
      margin: 0;
      padding: 0;
      letter-spacing: .07em;

    }

    #recent_news_items {
      max-width: 300px;

      ul {
        margin: 0;
        padding: 0;

        li {
          border-top: 4px solid #888;
          //background-color: #333;
          padding: 2% 5%;
          border-bottom: 4px solid #888;

          p {
            margin: 7px 0;
            color: $red;
            font-size: 1em;
          }

          img {

            padding: 10px;
            //width: 75%;
            display: block;
            width: 100%;
            //margin: 0 auto;

            &:hover {

            }
          }
        }
      }
    }
  }
}

    

//                    ,,               
//                  `7MM               
//                    MM               
//  ,p6"bo   ,pW"Wq.  MM       pd*"*b. 
// 6M'  OO  6W'   `Wb MM      (O)   j8 
// 8M       8M     M8 MM          ,;j9 
// YM.    , YA.   ,A9 MM       ,-='    
//  YMbmd'   `Ybmd9'.JMML.    Ammmmmmm

@-webkit-keyframes color_change {
  from { color: $blue; }
  to { color: $red; }
}
@-moz-keyframes color_change {
  from { color: $blue; }
  to { color: $red; }
}
@-ms-keyframes color_change {
  from { color: $blue; }
  to { color: $red; }
}
@-o-keyframes color_change {
  from { color: $blue; }
  to { color: $red; }
}
@keyframes color_change {
  from { color: $blue; }
  to { color: $red; }
}

.col2 {
  padding: 12px 0;

  .navbar {
    padding: 0;

    li {
      //border-top-left-radius: 7%;
      margin-top: 30px;
      padding-left: 5px;
      border-left: 0px solid $blue;
       -webkit-transition: border .4s linear;  
          -moz-transition: border .4s linear;  
            -o-transition: border .4s linear;  
           -ms-transition: border .4s linear;  
               transition: border .4s linear;

      &:hover {
        border-left: 22px solid $red;
      }

      a {

        letter-spacing: $navLetterSpacing;
        display: block;
        text-align: left;
        color: $red;
        width: 100%;
        font-family: $navText;
        font-weight: $navTextWeight;
        line-height: $navLineHeight;
        padding-left: 10px;
        border-left: 0px solid $blue;
       -webkit-transition: border .3s linear;  
          -moz-transition: border .3s linear;  
            -o-transition: border .3s linear;  
           -ms-transition: border .3s linear;  
               transition: border .3s linear;

        &:hover {
          -webkit-animation: color_change .2s infinite alternate;
           -moz-animation: color_change .2s infinite alternate;
            -ms-animation: color_change .2s infinite alternate;
             -o-animation: color_change .2s infinite alternate;
                animation: color_change .2s infinite alternate;
                //border-right: 20px solid $blue;
                     border-left: 9px solid $blue;
          -webkit-transition: border .4s linear;  
          -moz-transition: border .4s linear;  
            -o-transition: border .4s linear;  
           -ms-transition: border .4s linear;  
               transition: border .4s linear;

        }       
      }
    }
  }
}


//                    ,,               
//                  `7MM               
//                    MM               
//  ,p6"bo   ,pW"Wq.  MM       pd""b.  
// 6M'  OO  6W'   `Wb MM      (O)  `8b 
// 8M       8M     M8 MM           ,89 
// YM.    , YA.   ,A9 MM         ""Yb. 
//  YMbmd'   `Ybmd9'.JMML.          88 
//                            (O)  .M' 
//                             bmmmd'  


.blogWrapper {
  margin-top: 2px;
}


.isotope-item {

}

.width100 {
  //width: 100%;
}

#body_content {
  margin-top: -27px;
}

#body_content_right{
  display: none;
}

#body_content_title {
  font-size: 3em;
  display: none;
}

.borderRed {
  border: 2px solid $red;
}

// `7MM"""Mq`7MM"""Mq. `7MMF`7MMF'   `7MFMMP""MM""YMM 
//   MM   `MM.MM   `MM.  MM   `MA     ,V P'   MM   `7 
//   MM   ,M9 MM   ,M9   MM    VM:   ,V       MM      
//   MMmmdM9  MMmmdM9    MM     MM.  M'       MM      
//   MM       MM  YM.    MM     `MM A'        MM      
//   MM       MM   `Mb.  MM      :MM;         MM      
// .JMML.   .JMML. .JMM.JMML.     VF        .JMML.   

@import url(http://fonts.googleapis.com/css?family=Raleway);

.privateWrapper {
  max-width: 500px;
  padding-right: 7%;

  .redText {
    color: $red;
  }

  .mackLink {
    font-weight: bold;
  }

  h1 {
    font-size: 4em;
    color: $blue;
    margin: 20px 0;
  }

  h2 {
    color: $red;
    font-size: 1.7em;
    padding: 10px 0px 8px 0;
  }

  p {
    font-weight: normal;
    font-size: 1em;
  }

  ul {
    list-style-type: circle;
    color: $red;
    margin-bottom: 15px;

    li p {
      color: $red;
    }
  }
}

//                             ,,           ,,  
//                             db         `7MM  
//                                          MM  
// ,pP"Ybd  ,pW"Wq.   ,p6"bo `7MM  ,6"Yb.   MM  
// 8I   `" 6W'   `Wb 6M'  OO   MM 8)   MM   MM  
// `YMMMa. 8M     M8 8M        MM  ,pm9MM   MM  
// L.   I8 YA.   ,A9 YM.    ,  MM 8M   MM   MM  
// M9mmmP'  `Ybmd9'   YMbmd' .JMML`Moo9^Yo.JMML.



.likeButton {
  margin-top: 10px;
  display: block;
  width: 100%;
  float: right;

  .fbLikeText {
    color: $red;
    font-size: 1.2;
    float: right;
    padding-right: 8px;
    padding-top: 3px;
  }

  .fb-like {
    float: right;
  }
}



.siteHeader {
  max-width: 720px; //perfect width for initial mobile snap
  min-width: 402px;
  margin: 20px 20px 0px 5px;
  padding: 0;
  border-top-left-radius: 7px;
  float: left;

  p.siteHeaderText {
    color: $blue;
    font-size: 1.4em;
    font-weight: 400;
    float: right;
    text-align: right;
    padding-right: 0px;
    padding-top: 56px;
    max-height: 53px;
  }

  img.logoSmall {
    float: right;
    //width: 30%;
    height: 80px;
    text-align: right;
    position: relative;
    z-index: -100;
  }

  .socialWrapper {
    margin-left: -117px;
    float: right;
    min-width: 114px;

    i { // social icons
      font-size: 2.65em;
      color: $blue;
      border: 0;

    }
  }

  a.facebook {

  }

  a.twitter {

  }

  .instagram {

  }
}

  a.datesClick {
    display: none !important;
  }


//                            ,,        ,,   ,,          
//                           *MM        db `7MM          
//                            MM             MM          
// `7MMpMMMb.pMMMb.  ,pW"Wq.  MM,dMMb.`7MM   MM  .gP"Ya  
//   MM    MM    MM 6W'   `Wb MM    `Mb MM   MM ,M'   Yb 
//   MM    MM    MM 8M     M8 MM     M8 MM   MM 8M"""""" 
//   MM    MM    MM YA.   ,A9 MM.   ,M9 MM   MM YM.    , 
// .JMML  JMML  JMML.`Ybmd9'  P^YbmdP'.JMML.JMML.`Mbmmd' 

@media only screen 
and (max-width: 768px) 
and (orientation : portrait) {

  #body_content {
    margin: 0 !important;
  }

  .pagination {
    position: relative !important;
  }

  .likeButton {
    display: none !important;
  }

  .sc-download {
    display: none !important;
  }

  a.datesClick {
    display:block !important;
  }

  .siteHeader {
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;
    padding: 0 !important;
    margin: 15px 20px 0 0 !important;
    max-width: 42px !important;
    // min-width: 120px !important;
    // max-width: 120px !important;

    .siteHeaderText {
      display: none;
    }
  
    img.logoSmall {
      display: none;
    }
  
    .socialWrapper {
      width: 52px !important;
  
      a {
        display: block !important;
        margin-bottom: 20px;
  
        i {
          //font-size: 2.3em;

        } 
      }
    }
  }

  .sc-player {
    margin-left: 0;
    padding-left: 0;

    ol.sc-artwork-list {
      display: none !important;
    }

    .sc-volume-slider {
      display: none !important;
    }
  }

  .dates {
    
  }

  .privateWrapper {
    max-width: 100%;
    margin: 10% 0 0 0;
  }

  .col1 {
    position: absolute;

    img.logoImg {
      position: absolute !important;
      // top: -50px;
      // left: -22px;
      width:  85% !important;
    }
  }

  .colEvents {
    border: 1px solid blue;
    margin: 170% 0 0 0;
    padding: 0;
    width: 100%;
    max-width: 1000px;
    min-width: 480px;
    //min-width: 100%;
    display: none;
    width: 100% !important;
  }

  .col2 {
    margin-left: 50.8%;
    position: absolute;
  }
  
  .navbar {
    height: 51% !important;
  
    li {
      margin-top: 4% !important;

      .navText {

        a {
          //max-width: 50%;
          //border-right: 10px solid $blue;
          //font-size: 119%;
          //border-bottom: 1px solid $red;
          padding: 3px 6px 10px 6px;
          line-height: .9em !important;
          //background-color: $red;
        }
      }
    }
  }

  .column3 {
    //position: absolute !important;
    position: relative;
    margin-top: 73%;
    left: 0;
    z-index: 100;
  }

  img.bgHome {
    display: none;
    position: absolute;
    margin-left: 0%;
    margin-top: 50%;
    width: 50%;
    height: auto;
    opacity: .3;
    float: left;
    z-index: -100;
  }

  img.bgHome3 {
    //display: none;
    //position: absolute;
    //display: block;
    margin-top: 40%;
    margin-left: 90px;
    width: 45%;
    height: auto;
    //opacity: .9;
    float: left;
    z-index: -100;
  }

 img.bgHome4 {
   display: none;
 }

  .blog_post {
    width: 100%;
  } 

  .tagMix {
    padding-right: 3%;

    iframe {
      
    }
  }
} // END 768 BREAK

@media only screen and (max-width: 480px) {

  .siteHeader {
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;
    padding: 0 !important;
    margin: 8px 8px 0 0 !important;
    max-width: 42px !important;
    // min-width: 120px !important;
    // max-width: 120px !important;

    .socialWrapper {
      width: 52px !important;
  
      a {
        display: block !important;
        margin-bottom: 10px;
  
        i {
          font-size: 1.65em !important;

        } 
      }
    }
  }
}